[submodule "client/ashtons-blog-jekyll"]
	path = client/ashtons-blog-jekyll
	url = https://github.com/ashellwig/ashtons-blog-jekyll.git
[submodule "client/ashtons-blog-cljs-basic"]
	path = client/ashtons-blog-cljs-basic
	url = https://github.com/ashellwig/ashtons-blog-cljs-basic.git
[submodule "client/ashtons-blog-vuepress"]
	path = client/ashtons-blog-vuepress
	url = https://github.com/ashellwig/ashtons-blog-vuepress.git
[submodule "server/ashtons-blog-serv-go"]
	path = server/ashtons-blog-serv-go
	url = https://github.com/ashellwig/ashtons-blog-serv-go.git
